.about-section {
	background-color: $green-middle;

	@include mobile {
		padding: 7em 1.5em;
	}
	@include tablet {
		padding: 7em 0em;
	}

	.about-info {
		max-width: 700px;
		margin: 0 auto;
	}

	p {
		font-size: 0.9em;
		color: white;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 1.7;
		margin-top: 3em;
		margin-bottom: 1.5em;
		& + p {
			margin-top: 1.5em;
			margin-bottom: 3em;
		}
	}
}
%title {
	color: $black;
	text-transform: uppercase;
}
.section-title {
	@extend %title;
	position: relative;
	font-weight: 300;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.section-subtitle {
	@extend %title;
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: 3.5px;
	word-spacing: 2px;
	margin-top: 0.8em;
	opacity: 0.7;
}

.about-image {
	img {
		margin-top: 3em;
		margin-bottom: 1.5em;
		width: 200px;
		border-radius: 50%;
		filter: brightness(1.2) grayscale(0.3) opacity(0.8);
	}
}
