.about-section {
	background-color: $green-middle;

	@include mobile {
		padding: 7em 1.5em;
	}
	@include tablet {
		padding: 7em 0em;
	}

	.about-info {
		max-width: 700px;
		margin: 0 auto;
	}

	p {
		font-size: 0.9em;
		color: white;
		font-weight: 300;
		letter-spacing: 1px;
		line-height: 1.7;
		margin-top: 3em;
		margin-bottom: 1.5em;
		& + p {
			margin-top: 1.5em;
			margin-bottom: 3em;
		}
	}
}

.about-image {
	img {
		margin-top: 3em;
		margin-bottom: 1.5em;
		width: 200px;
		border-radius: 50%;
		filter: brightness(1.2) grayscale(0.3) opacity(0.8);
	}
}
