:root {
	box-sizing: border-box;
}

*,
::before,
::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	scroll-behavior: smooth;
}
body {
	font-family: "Roboto", sans-serif;
}
::-webkit-scrollbar {
	background-color: $green-dark;
	width: 0.4em;
	margin: 5px;
}
::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 6px;
}

.container {
	max-width: $container-max-width;
	margin: 0 auto;
}

.centered-text {
	text-align: center;
}

section,
footer {
	padding: 7em 0.5em;
}

%title {
	text-transform: uppercase;
}
.section-title {
	color: $black;
	@extend %title;
	position: relative;
	font-weight: 300;
	font-size: 1.5em;
	letter-spacing: 2px;
}

.section-subtitle {
	@extend %title;
	font-size: 0.7em;
	font-weight: 600;
	letter-spacing: 3.5px;
	word-spacing: 2px;
	margin-top: 0.8em;
	opacity: 0.7;
	color: $green-dark;
}

p {
	font-size: 0.9em;
	color: white;
	font-weight: 300;
	letter-spacing: 1px;
	line-height: 1.7;
	margin-top: 3em;
	margin-bottom: 1.5em;
	& + p {
		margin-top: 1.5em;
		margin-bottom: 3em;
	}
}
