header {
	background-color: $green-dark;
	padding: 1.6em $container-padding-left-right;
	position: fixed;
	z-index: 20;
	width: 100%;
	@include transition;

	.container {
		position: relative;
		display: flex;
		align-items: center;
	}
}

header.slide {
	padding: 0.6em $container-padding-left-right;
	box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
