header {
  background-color: $green-dark;
  padding: 1.6em $container-padding-left-right;
  position: fixed;
  z-index: 1;
  width: 100%;

  .container {
    display: flex;
    align-items: center;
  }
}

.topnav {
  display: none;
  margin-left: auto;
  @include tablet {
    display: block;
  }
}
