main {
  height: 100vh;
  background-color: aqua;
  margin: 0;
}
.hero {
  position: relative;

  height: 100%;
  background-color: $green-dark;
  background-image: url("../images/land-mount.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  //background-blend-mode: color-burn;
  background-blend-mode: exclusion;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-container {
  max-width: 550px;
  padding: 1em;
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  * {
    display: inline-block;
    margin: 16px 0;
  }
}

.hero-title {
  position: relative;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 6px;
  color: white;
  line-height: 0.9em;
  pointer-events: none;
  text-transform: uppercase;

  @include mobile {
    font-size: 3em;
  }

  @include tablet {
    font-size: 3.5em;
  }
}

.hero-subtitle {
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 3px;
  color: $gray-blue;
  //margin-top: 2em;
  width: 100%;
  text-transform: uppercase;
}
