.link {
	font-weight: 400;
	font-size: 1.2em;
	letter-spacing: 2px;
	text-decoration: none;
	padding: 8px 8px;
	margin: 18px 0;
	color: $gray;
	transition: color 0.2s;

	&--top,
	&--footer {
		@extend .link;
		display: block;
		text-transform: uppercase;
		@include tablet {
			font-size: 0.8em;
			margin: 0;
			margin-right: 2.4em;
			padding: 8px 8px;
		}

		&:hover {
			color: $red;
			text-decoration: underline;
		}
	}
	&--footer {
		font-size: 0.8em;
		margin: 0;
		padding: 0.5em;
		@include mobile {
			display: inline-block;
			margin: 0 1em;
		}
	}
	&--case {
		@extend .link;
		color: $green-dark;
		font-size: 1em;
		font-weight: 500;
		margin-right: 0em;
		opacity: 0.7;
		letter-spacing: 0;
		text-transform: capitalize;

		&:hover {
			color: $red;
			text-decoration: underline;
		}
	}
}
.link--top.active {
	color: $red;
	border: 1px dashed $red;
}
.button {
	text-decoration: none;
	padding: 1em 2em;
	font-weight: 400;
	font-size: 0.9em;
	letter-spacing: 0.5px;
	color: rgba(255, 255, 255, 0.7);
	background-color: rgba(255, 255, 255, 0.08);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 6px;
	box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1) inset;
	transition: background-color 0.2s;

	&:hover {
		background-color: rgba(255, 255, 255, 0.2);
		background-color: $red;
	}

	&--resume {
		@extend .button;
		display: inline-block;
		font-size: 0.9rem;
		padding: 1em 3em;
		align-self: center;
		margin-top: 2em;
		text-transform: capitalize;
		background-color: $red;
		@include tablet {
			padding: 0.8em 2em;
			margin-top: 0;
			font-size: 0.8em;
		}
	}

	&--email {
		@extend .button;
		display: inline-block;
		margin-bottom: 5em;
	}
}

.logo {
	@extend .link;
	font-size: 20px;
	font-weight: 500;
	padding: 0.2em 0.3em 0.3em 0.4em;
	margin: 0;
	text-align: center;
	z-index: 2;
	background-color: rgba(255, 255, 255, 0.2);
	clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
	transform-style: preserve-3d;
	@include transition;
	&:hover {
		color: $red;
	}
}

.social .fa {
	padding: 4px;
	font-size: 24px;
	font-weight: 500;
	margin: 10px;
	width: 25px;
	height: 25px;
	text-align: center;
	text-decoration: none;
	border: 1px dashed transparent;
	border-radius: 6px;
	box-sizing: unset;
	@include transition;
	color: $green-dark;
	&:hover {
		color: $red;
		//background-color: $red;
		//border: 1px dashed $red;
	}
}

a > i {
	margin-right: 8px;
}
