.topnav {
	height: 100%;
	width: calc(min(75vw, 400px));
	position: fixed;
	z-index: 1;
	top: 0;
	right: -100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow-x: hidden;
	background-color: rgba(17, 32, 44, 1); //$navy;
	box-shadow: -10px 0px 30px -15px $navy;
	transition: right 0.2s;

	@include tablet {
		position: static;
		width: auto;
		flex-direction: row;
		padding: 0;
		margin-left: auto;
		background-color: $green-dark;
		box-shadow: none;
	}
}

.menu-container {
	display: inline-block;

	margin-left: auto;
	padding: 0px 4px;
	cursor: pointer;

	z-index: 2;
	@include tablet {
		display: none;
	}
	@include transition;
	&:hover {
		.bar1,
		.bar2,
		.bar3 {
			background-color: $red;
		}
	}
}
.menu-container.change {
	transform: rotate(180deg);
}

.bar1,
.bar2,
.bar3 {
	width: 35px;
	height: 2px;
	background-color: $gray;
	margin: 6px 0;
	transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1.2);
	//@include transition;
}

.bar2 {
	width: 25px;
	margin-left: 5px;
}

.change .bar1 {
	transform: rotate(-45deg) translate(-6px, 4px);
}

.change .bar2 {
	opacity: 0;
}

.change .bar3 {
	transform: rotate(45deg) translate(-8px, -4px);
}
