.case-study-section {
	background-color: $gray;

	.case-title {
		color: $black;
		font-weight: 800;
		font-size: 1.5rem;
	}
	p {
		color: $green-light;
	}
	.project__container {
		padding: 0em 0.5em;
		max-width: 1000px;
		margin: 8em auto 5em;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

		row-gap: 1.25em;
		column-gap: 2.5em;
		counter-reset: slide-number;

		.item {
			height: 300px;
			position: relative;
			overflow: hidden;
			display: flex;
			flex-flow: column nowrap;
			background-color: $red;
			box-shadow: 0 3px 15px rgba(0, 0, 0, 0.2);

			counter-increment: slide-number;
			transition: all 0.3s;

			&::before {
				display: none;
				content: counter(slide-number);
				position: absolute;
				left: 8px;
				top: -18px;
				font-size: 5rem;
				color: rgba(255, 255, 255, 0.2);
				z-index: 2;
			}

			&:hover {
				box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
			}

			&:hover .item__header {
				transform: translateY(0px);
				opacity: 1;
			}
			&:hover .item__header > h3 {
				opacity: 0;
			}
			&:hover p {
				transform: translate(0, -28px);
			}
			&:hover .item__list {
				opacity: 1;
				transform: translateY(-30px);
			}
			&:hover .item__image {
				//opacity: 0.9;
			}
		}

		.item__header {
			width: 100%;
			height: 100%;
			padding: 0;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			background-color: white;
			opacity: 1;
			text-align: center;
			z-index: 2;
			transition: all 0.3s $transition-func;

			h3 {
				color: $black;
				position: relative;
				font-weight: 500;
				font-size: 1.2em;
				text-transform: capitalize;
				user-select: none;
				opacity: 1;
				margin-top: 1.5em;
				transition: opacity 0.2s;
			}
			p {
				opacity: 1;
				margin: 2px 0em 10px;
				color: black;
				font-size: 0.9em;
				font-weight: 300;
				letter-spacing: 0;
				line-height: 1.58;
				user-select: none;
				transform: translateY(0px);
				transition: opacity 0.3s $transition-func,
					transform 0.2s $transition-func;
			}
		}
	}
	.item__image {
		background-color: $overlay;
		z-index: 1;
		opacity: 1;
		@include transition;
	}
}

.animate {
	animation: card-show 0.3s ease-out;
}

.item__list {
	list-style: none;
	display: none;
	justify-content: flex-start;
	align-items: center;
	margin-top: 0em;
	background-color: white;
	opacity: 0;
	transform: translateY(0px);
	transition: transform 0.2s $transition-func, opacity 0.2s $transition-func;

	li {
		font-size: 0.8em;
		font-weight: 400;
		text-transform: uppercase;
		padding: 0.2em 0.5em;
		background-color: $green-light;
		color: $green-middle;
		border-radius: 4px;
	}
	li + li {
		margin-left: 0.5em;
	}

	&--links {
		@extend .item__list;
		display: flex;
		padding: 0 0.5em;
		justify-content: space-between;
		width: 100%;

		li {
			display: flex;
			align-items: center;
			background-color: inherit;
			padding: 0;
			margin: 0;

			.fa {
				color: $green-dark;
				margin-right: 0.4em;
				font-size: 1rem;
			}
		}
	}
}

@keyframes card-show {
	0% {
		transform-origin: bottom;
		transform: scaleY(0);
	}

	100% {
		transform: scaleY(1);
	}
}

@for $index from 2 to 9 {
	.item-container:nth-child(#{$index}) {
		animation-delay: 0; //(0.1s * $index) - 0.1s;
	}
}

.case-study-section .item.appear {
	opacity: 1;
	transform: translateY(0);
}
