@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap");
:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  background-color: #005c6e;
  width: 0.4em;
  margin: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 6px;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

header {
  background-color: #005c6e;
  padding: 1.6em 1em;
  position: fixed;
  z-index: 1;
  width: 100%;
}

header .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
<<<<<<< HEAD
}

header.slide {
  padding: 0.6em 1em;
  -webkit-box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
=======
>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
}

.topnav {
  height: 100%;
  width: calc(min(75vw, 400px));
  position: fixed;
  z-index: 1;
  top: 0;
  right: -100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  background-color: #11202c;
  -webkit-box-shadow: -10px 0px 30px -15px #11202c;
          box-shadow: -10px 0px 30px -15px #11202c;
  -webkit-transition: right 0.2s;
  transition: right 0.2s;
}

@media screen and (min-width: 768px) {
  .topnav {
    position: static;
    width: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
    margin-left: auto;
    background-color: #005c6e;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.menu-container {
  display: inline-block;
  margin-left: auto;
  padding: 0px 4px;
  cursor: pointer;
  z-index: 2;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.menu-container:hover .bar1,
.menu-container:hover .bar2,
.menu-container:hover .bar3 {
  background-color: #9daf62;
}

.menu-container.change {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #f8f8f8;
  margin: 6px 0;
  -webkit-transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1.2);
  transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1.2);
}

.bar2 {
  width: 25px;
  margin-left: 5px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 4px);
          transform: rotate(-45deg) translate(-6px, 4px);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -4px);
          transform: rotate(45deg) translate(-8px, -4px);
}

<<<<<<< HEAD
.link, .link--top, .logo {
=======
.link, .link--top, .link--social, .logo {
>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
  font-weight: 400;
  font-size: 1.2em;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 26px 0px;
  color: #f8f8f8;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}

.link--top {
  display: block;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .link--top {
    font-size: 0.8em;
    margin-right: 3em;
    padding: 8px 0px;
  }
}

.link--top:hover {
  color: #9daf62;
}

<<<<<<< HEAD
=======
.link--social:hover {
  color: white;
}

>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
.button, .button--resume {
  text-decoration: none;
  padding: 1em 2em;
  font-weight: 400;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.7);
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1) inset;
          box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1) inset;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.button:hover, .button--resume:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.button--resume {
  display: inline-block;
  font-size: 0.9rem;
  padding: 1em 3em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
<<<<<<< HEAD
  margin-top: 2em;
=======
  margin-top: 3em;
>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .button--resume {
    padding: 0.8em 2em;
    margin-top: 0;
    font-size: 0.8em;
  }
}

.logo {
  font-size: 20px;
  font-weight: 500;
  padding: 0.2em 0.3em 0.3em 0.4em;
  margin: 0;
  text-align: center;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
          clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

<<<<<<< HEAD
.social .fa {
  padding: 4px;
  font-size: 20px;
  margin: 10px;
  width: 22px;
  height: 22px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  -webkit-box-sizing: unset;
          box-sizing: unset;
  background: #ece9d6;
  color: #6f7098;
}

.social .fa:hover {
  opacity: 0.7;
}

a > i {
  margin-right: 8px;
=======
.social i {
  font-size: 22px;
  margin: 0 0.5em;
>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
}

main {
  height: 100vh;
  background-color: aqua;
  margin: 0;
}

.hero {
  position: relative;
  height: 100%;
  background-color: #005c6e;
  background-image: url("../images/land-mount.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: exclusion;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-container {
  max-width: 550px;
  padding: 1em;
  margin: auto;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.hero-container * {
  display: inline-block;
  margin: 16px 0;
}

.hero-title {
  position: relative;
  font-weight: 200;
  font-size: 2em;
  letter-spacing: 6px;
  color: white;
  line-height: 0.9em;
  pointer-events: none;
  text-transform: uppercase;
}

@media screen and (min-width: 480px) {
  .hero-title {
    font-size: 3em;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 3.5em;
  }
}

.hero-subtitle {
  font-weight: 600;
  font-size: 0.8em;
  letter-spacing: 3px;
  color: #bbbfcd;
  width: 100%;
  text-transform: uppercase;
}

.about-section {
<<<<<<< HEAD
  background-color: #6cb3b6;
  text-align: center;
  padding: 7em 0.5em;
}

@media screen and (min-width: 480px) {
  .about-section {
    padding: 7em 1.5em;
  }
}

@media screen and (min-width: 768px) {
  .about-section {
    padding: 7em 0em;
  }
=======
  height: 100vh;
  background-color: #6cb3b6;
  text-align: center;
>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
}

.about-section .about-info {
  max-width: 700px;
  margin: 0 auto;
}

.about-section p {
  font-size: 0.9em;
  color: white;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 1.7;
<<<<<<< HEAD
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.about-section p + p {
  margin-top: 1.5em;
  margin-bottom: 3em;
=======
>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
}

.section-title, .section-subtitle {
  color: #222;
  text-transform: uppercase;
}

.section-title {
  position: relative;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 2px;
}

.section-subtitle {
  font-size: 0.7em;
  font-weight: 600;
  letter-spacing: 3.5px;
  word-spacing: 2px;
  margin-top: 0.8em;
  opacity: 0.7;
}

.about-image img {
<<<<<<< HEAD
  margin-top: 3em;
  margin-bottom: 1.5em;
=======
>>>>>>> 901e22709a4683b26e7d67ef24444c8ecfe3ae25
  width: 200px;
  border-radius: 50%;
  -webkit-filter: brightness(1.2) grayscale(0.3) opacity(0.8);
          filter: brightness(1.2) grayscale(0.3) opacity(0.8);
}
/*# sourceMappingURL=main.css.map */